@inherits MerchKit.Mvc.MerchKitTemplatePage
@{
    Layout = "merchBase.cshtml";
    
}

<section id="primary">
    <h1>@Umbraco.GetDictionaryValue("merchCartHeadline")</h1>

    @Html.Action("RenderBasket", "Basket", new { area = "MerchKit" })

</section>