@inherits MerchKit.Mvc.MerchKitTemplatePage
@{

if (CurrentPage.WillWork("quote"))
{
    <section class="testimonial">
        @*Render the testimonial image*@
        @if(CurrentPage.WillWork("image"))
        {
            IPublishedContent image = Umbraco.Media(CurrentPage.GetPropertyValue("image"));
            @*Feed in view data to the partial view*@
            var viewData = new ViewDataDictionary(ViewData)
                {
                    {"Image", image},
                    {"Height", -1},
                    {"Width", 558}
                };
    
            @Html.Partial("merchRenderImage", viewData)
        }
        else
        {
            <img src="http://placekitten.com/558/365" />
        }

        @*Render the quote, checked to see if it exists above*@
        <blockquote>
            <p>@MvcHtmlString.Create(CurrentPage.GetPropertyValue("quote"))</p>

            @if(CurrentPage.WillWork("citeLogo"))
            {
                <img src="@CurrentPage.GetPropertyValue("citeLogo")" alt="@(CurrentPage.WillWork("cite") ? CurrentPage.GetPropertyValue("cite") : string.Empty)" />
            }
            else if (CurrentPage.WillWork("cite"))
            {
                <cite>-@CurrentPage.GetPropertyValue("cite")</cite>
            }

        </blockquote>
    </section>
}
    
}