@inherits UmbracoTemplatePage
          
<title>@(CurrentPage.HasValue("pageTitle") ? CurrentPage.pageTitle : CurrentPage.Name)</title>
@{
    if(CurrentPage.HasValue("metaDescription"))
    {
        <meta name="description" content="@CurrentPage.metaDescription" />
    }

    if(CurrentPage.HasValue("metaKeywords"))
    {
        <meta name="keywords" content="@CurrentPage.metaKeywords" />
    }
}