/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
body.mce-content-body { font-family: 'Source Sans Pro', sans-serif; font-size: 20px; line-height: 1.6em; color: #757876; }
h1 { font-weight: normal; font-size: 56px; line-height: 1.2em; margin: 0 0 10px; padding: 0; color: #000; }
h2 { font-weight: normal; font-size: 36px; line-height: 1.2em; margin: 0 0 10px; padding: 0; color: #000; }
h3 { font-weight: normal; font-size: 26px; line-height: 1.2em; margin: 0 0 10px; padding: 0; color: #000; }
a { color: #11b3b9; }
p { margin: 0 0 1em; padding: 0; }/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h2 {

}

h3 {

}

